= render partial: 'sections/heading', locals: {section: @section, selected: :questions}
br

= render partial: 'new_question', locals: {section: @section, question: @question}
br

= render partial: 'questions_list', locals: {questions: @questions}