// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents-area {
  margin-right: 1em;  /* Needed to row issues */
  padding: 0 0.5em 0 1em;
  box-sizing: border-box;

  .jumbotron {
    border-radius: 8px;
  }
}

.new-section-area {
  $spacing: 1.5em;
  padding-bottom: $spacing;
  margin-bottom: $spacing;
  border-bottom: 2px dotted rgb(224, 224, 224);
}


$answer-height: 10em;

#questions-list {
  .test-answer {
    width: 50%;
    float: left;
    height: $answer-height;
  }

  .original-answer {
    width: 47.5%;
    float: right;
    padding: 0.5em;
    background: rgb(240, 248, 248);
    border-radius: 8px;
    border: 2px dashed rgb(220, 240, 240);
    height: $answer-height;

    h4 {
      display: block;
      text-align: center;
      padding: 2em;
      color: rgb(100, 128, 128);
      cursor: default;
    }

    p {
      display: none;
      padding: 0.5em;
    }
  }

  .original-answer.show-answer {
    & > h4 { display: none; }    // Hide the title
    & > p { display: block; }    // Show the answer
  }

  .question-buttons {
    clear: both;
    padding-top: 1em;

    button {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}